<style>
  .footer {
    background-color: rgba(0, 0, 0, 0) !important; /* Continuación del fondo en el footer */
    color: white;
    padding: 1rem 0; /* Agrega algo de relleno para separación del contenido */
    margin-top: 0;
  }
  
</style>


<div class="footer mt-5 bg-dark text-white text-center">
  <p>Teoría de la simulación</p>
</div>