<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap 5 Website Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 

  <link href="css/index.css" rel="stylesheet">
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

  <%- include('partials/header') %>
  <h1>Welcome to the Home Page</h1>
  <%- include('partials/footer') %>
  
</body>
</html>
